# スポンサー分析

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [23]:
xlsx_path = '/home/atom/Documents/football_data.xlsx'
sheets = pd.read_excel(xlsx_path, sheet_name=None)
sheets.keys()

odict_keys(['Global sponsorship spending', 'JLeague Sponsor Revenue', 'Premier League Sponsors', 'J League Sponsors'])

In [26]:
from IPython.core.display import display

PL_sponsors = sheets['Premier League Sponsors'].drop(0)
JL_sponsors = sheets['J League Sponsors'].drop(0)
display(PL_sponsors.head(3))
display(JL_sponsors.head(3))

,Unnamed: 0,Liverpool,Leicester City,Chelsea,Man. City,Sheff Utd,Arsenal,Bournemouth,Brighton,Burnley,...,Newcastle,Tottenham,Everton,Man United,Wolves,West Ham,Aston Villa,Watford,Southampton,Norwich
1,1979.0,Hitachi,NaN,NaN,NaN,Cantor's,NaN,NaN,NaN,NaN,...,NaN,NaN,Hafnia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980.0,Hitachi,NaN,NaN,NaN,Cantor's,NaN,Heynes Toyota,British Caledonian Airways,NaN,...,Newcastle Brown Ale,NaN,Hafnia,NaN,NaN,NaN,NaN,NaN,Rank Xeroz,NaN
3,1981.0,Hitachi,NaN,NaN,NaN,Bentleys,NaN,Heynes Toyota,British Caledonian Airways,NaN,...,Newcastle Brown Ale,NaN,Hafnia,NaN,NaN,NaN,NaN,NaN,Rank Xeroz,NaN

,Unnamed: 0,浦和レッドダイヤモンズ,FC東京,名古屋グランパスエイト,ガンバ大阪,川崎フロンターレ,横浜F・マリノス,鹿島アントラーズ,セレッソ大阪,ヴィッセル神戸,...,ジュビロ磐田,ベガルタ仙台,サガン鳥栖,清水エスパルス,アルビレックス新潟,サンフレッチェ広島F.C,松本山雅FC,湘南ベルマーレ,柏レイソル,V・ファーレン長崎
1,1991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992.0,GALANT,NaN,NaN,Panasonic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,JAL,NaN,NaN,NaN,NaN,HITACHI,NaN
3,1993.0,MITSUBISHI MOTORS,NaN,NaN,Panasonic,NaN,NISSAN,NaN,NaN,NaN,...,YAMAHA,NaN,NaN,JAL,NaN,Ford,NaN,NaN,HITACHI,NaN

In [28]:
import urllib.request
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/1999%E2%80%932000_FA_Premier_League"
page = urllib.request.urlopen(url)

soup = BeautifulSoup(page, "lxml")
right_table=soup.find('table', class_='wikitable sortable')

In [ ]:
ff